/*Comentarios editados por Luis Benitez
luisbenitez02@gmail.com*/
* {
	margin: 0;/*Quita margenes predeterminados del navegador*/
}
html, body {
	width: 100%;
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -55px; /* El margin-bottom es el valor negativo del height del footer */
}
footer, .push {
	height: 60px; /* '.push' Ambos deben tener la misma altura */
}
