/*Reeditado por Luis Benitez
luisbenitez02@gmail.com*/
/*header, footer, article, aside {
	display: block; /*En Firefox 28 no fue necesario
}*/

	/*Fuentes Personalizadas*/
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

@font-face{
	font-family:mockup;
	src: url(font/Mockup-Regular.otf) format('Opentype');
}


body {
	background-color: rgba(255, 206, 91, 0.5); 
	/*font-size: 0.8em;*/
}

.wrapper {
	position: relative;
	width: 100%;/*Ajuste de la pagina automaticamente*/
}

/*Cabecera del sitio*/

header,nav,footer {
	width: 100%;
	height: 55px;
	background-color: white;
	margin: 0 auto;
}
nav{
	position:fixed;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:    0px 2px 5px 0px rgba(0, 0, 0, 0.8);
	box-shadow:         0px 2px 5px 0px rgba(0, 0, 0, 0.8);
}

div#marco, img#logo{
	width: 60px;
	height: 60px;
}
div#marco{
	float:left;
	padding-left: 2px;
	padding-top: 2px;
}
img.inter{
	padding-right: 5px;
	padding-top: 7px;
	width: 40px;
	height: 40px;
}

div#menu{
	height: 100%;
	float: left;
}

div#user{
	float: right;
}

li{
	padding-top: 15px;
	padding-left: 10px;
	list-style: none;
	display: inline-block;

	font-family: mockup;
	font-size: 22px;
	color: rgba(232, 74, 68, 1);

}
ul{
	margin: auto;
	padding-top: -140px;
	display: inline-block;
	padding-left: 4px;
}

section{
	padding-top: 10px;
	width: 95%;
	background-color:white;
	margin: auto;

	border-bottom-style: outset;
	border-color: gray;
	border-radius: 5px;
	
	-webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.68);
	-moz-box-shadow:    0px 0px 4px 0px rgba(50, 50, 50, 0.68);
	box-shadow:         0px 0px 4px 0px rgba(50, 50, 50, 0.68);
}

article{
	padding-top: 20px;
	padding-bottom: 20px;
}

section#about h2{
	text-align: center;
	color: rgba(38,110,255,1);
}

section#about p{
	text-align: justify;

}

section p{
	padding-right: 6px;
	padding-left: 6px;
}
p{
	font-family: 'Roboto', sans-serif;
}

h2{
	font-family: mockup;
}
p#pie{
	padding-top: 8px;
	font-family: mockup;
	color: rgba(169, 31, 34, 1);
}
footer{
	-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;
 border-top-left-radius: 10px;
-moz-border-radius-topright: 10px;
-webkit-border-top-right-radius: 10px;
border-top-right-radius: 10px;

-webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    0px -1px 2px 0px rgba(0, 0, 0, 0.75);
box-shadow:         0px -1px 2px 0px rgba(0, 0, 0, 0.75);
}

footer p#pie{
	text-align: center;
}
footer p#dere{
	padding-right: 5px;
	float: right;
	text-shadow: 0px 0px 6px rgba(150, 150, 150, 0.98);
}
#izqui{
	text-shadow: 0px 0px 6px rgba(150, 150, 150, 0.98);
	padding-left: 5px;
	float: left;
	display: inline-block;
}
footer p#extra{
	font-size: 12px;
}

.tienda{
	width: 45%;
	display: inline-block;
	text-align: center;
}


#banner{
	margin-top: 100px;
	width: 	80%;
}
#resource{
	text-align: center;
}

section#e-commerce{
		padding-top: 30px;
}
.referencia{
	width: 	200px;
	height: 156px;
}

/*Media Queries Responsive Web Desing*/
@media screen and (max-width: 452px){
	nav{
		height: 80px;
	}


	ul li:first-child {
  		padding-top: 2px;
	}
	a{
		text-decoration: none;
	}
	li{
		padding-top: 0px;
		display: block;
		background-color: white;
		font-size: 18px;
	}
	h2.title{
		font-size: 	14px;
	}
	.tienda{
	width: 100%;
	display:block;
}

}
@media screen and (max-width: 379px){
		#contact{
			font-size: 12px;
		}
		footer p#extra{
			font-size: 11px;
		}
}